# Ignore uncrustify backups
*.unc*
doc/html/*
doc/output/*
doc/tag/*
doxygen_warnings.txt
/.metadata/
.vscode/*
*.o
*.d 
*.elf
*.hex
*.bin
*.pyc

RemoteSystemsTempFiles/*

# Ignore top-level build dir
/build*/

# Ignore Wifi passwords and credentials
tools/aws_config_quick_start/configure.json
demos/include/aws_clientcredential.h
demos/include/aws_clientcredential_keys.h
